<p>
  1.Click the START button to start the game.<br>
  2.Click the PASS button to end your turn.<br>
  3.The time allotted to each player is 30 seconds.<br>
  4.The overall game session is of 15 minutes.<br>
  5.8 tiles are given to the players for selection of letters.<br>
  6.The first tile should be placed at the centre of the board.<br>
  7.The player can place the tile horizontally and vertically to form a word.<br>
  8.A player can add letters to the end of an existing word to form a new word.<br>
  9.Consonants consist of a single point whereas vowels receive two points.<br>
  10.Extra points will be awarded as follows:<br>
    Triple Word(Color Code:RED):The score for that word will be tripled.<br>
    Double Word(Color Code:):The score for that word will be doubled.<br>
    Double Letter(Color Code:):The score will be based on the letter placed on that tile.Consonants receive 2 points and vowels receive 4 points.  <br>
    Triple Letter(Color Code:):The score will be based on the letter placed on that tile.Consonants receive 3 points and vowels receive 6 points.   <br>
  11.The game is over when the time is up and the player with the highest score wins the game.<br>
</p>
