 <!-- <button mat-raised-button>Hello</button> 
 <html>
<div id="main"> 
<div  id="scrabble" class="mat-display-3" >
  Scrabble
  </div>

<button id="htp"  mat-raised-button (click)="onHtp()">
  How to play
</button>

<button id="login"color="accent" mat-raised-button (click)="onLogin()">
  Login
</button>

<button id="signup"color="warn" mat-raised-button (click)="onSignup()"> 
  Sign up
</button>

<button id="About" mat-raised-button >
  About
</button>
</div>
</html>  -->

<router-outlet></router-outlet>  



