<h1>How To Play</h1>
<p>
1.Its a two Player Game.<br>
2.Next player should start from the alphabet present in the word mentioned by the opponent.<br>
3.The player may write the word  horizontally or vertically.<br>
4.The word must be meaningful.<br>
5.The points will be determined based on the length of the word and the number of vowels used.<br>
6.Some hints may be given.<br>
7.No repetition of words are allowed.<br>
8.The starting word should be entered in the centre of the board.<br>
9.The one with the highest score, wins the game.<br> 
</p>
