.navbar{
    
}

#login{
    margin-inline-end: 1rem;
    margin-inline-start: 55rem;
    font-family: 'GameFont'
}

#gamestart{
    margin-left: 40%;
    margin-top: 15%;
    margin-right: 45%;
   
}

#signup{
    

    font-family: 'GameFont';
}

#creategame{
   padding-left:5px;
   padding-right: 10px;
   margin-bottom: 10%;
   margin-right: 2px;
}

#joingame{
    padding:5px;
    margin-bottom: 10%;

}

#title1{
    font-family: 'GameFont';
}

mat-sidenav-container{
    
    height: 100%;
    width:100%;
    
}

mat-sidenav,mat-sidenav-component{
    padding:16px;
}

mat-sidenav{
    font-family: 'GameFont';
    color:sienna;
    background-color: blanchedalmond;
    width:200px;
}

#htp{
    margin-top: 10%;
    padding: 10px;
    font-family:'GameFont';
}

#about{
    margin-top: 10%;
    padding: 10px;
    font-family:'GameFont';
}
